body {
	height: 100vh;
	width: 100vw;
}


.blackBlock {
	float: left;
	background-color: black;
	height: 100%;
	width: 33.3%;
}

.yellowBlock {
	float: left;
	background-color: yellow;
	height: 100%;
	width: 33.3%;
}


.redBlock {
	float: left;
	background-color: red;
	height: 100%;
	width: 33.3%;
}


@media only screen and (max-width: 600px) {
	.blackBlock {
		background-color: black;
		height: 33.3%;
		width: 100%;
	}

	.redBlock {
		background-color: red;
		height: 33.3%;
		width: 100%;
	}
	
	.yellowBlock {
		background-color: yellow;
		height: 33.3%;
		width: 100%;
	}
	

}