<h1>New User</h1>

<form action="/users" method="POST">
	<div>
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Enter a valid email">
	</div>

	<div>
		<label for="first_name">First Name:</label>
		<textarea name="first_name" placeholder="Your first name"></textarea>
	</div>

	<div>
		<label for="last_name">Last Name:</label>
		<textarea name="last_name" placeholder="Your last name"></textarea>
	</div>

	<div>
		<label for="age">Your Age:</label>
		<textarea name="age" placeholder="Age"></textarea>
	</div>


	<div>
		<input type="submit" value="Save Post">
	</div>
	
</form>